#sticky-card-1{
  --index: 1;
}

#sticky-card-2{
  --index: 2;
}

#sticky-card-3{
  --index: 3;
}

#sticky-card-4{
  --index: 4;
}

#sticky-card-5{
  --index: 5;
}

.sticky-card{
  top: calc(var(--index) * 3rem)
}

@media (max-width: 768px){
  .sticky-card{
    top: calc(var(--index) * 4.6rem)
  }
}
